body {
	margin: 0;
	padding: 0;
	font-family: 'Geo', sans-serif;
	background-image: url('assets/images/background.jpg');
	background-size: cover;
	color: #fff;
	text-align: center;
}

ul {
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	margin-top: 20px;
	height: 75px;
	line-height: 75px;
	font-size: 36px;
	background-color: #006282;
	transition: background-color .3s ease-in-out, background-color .3s ease-in-out;
	outline: none;
}

.btn li:hover {
	background-color: #fff;
	color: #000;
}

a {
	text-decoration: none;
	color: #fff;
}

div {
	width: 350px;
	margin: auto;
}

h1 {
	font-size: 42px;
}

.submenu {
	display: none;
}

#connect-to-ip, #hotseat-player-count, #client-waiting-message {
	padding-top: 10px;
	margin-top: 20px;
	padding-bottom: 10px;
	height: auto;
	line-height: 100%;
	font-size: 36px;
}

#hotseat-players {
	border: none;
	outline: none;
	height: 30px;
	padding: 0;
	text-align: center;
}

.ip-address {
	border: none;
	outline: none;
	height: 30px;
	padding: 0;
	text-align: center;
}

#connect {
	margin-top: 5px;
	background-color: #9F3700;
	border: 0;
	border-radius: 10px;
	outline: none;
	height: 30px;
	transition: background-color .2s ease-in-out;
}

#connect:hover {
	background-color: #CF6730;
}

#connect:active {
	background-color: #fff;
}

#client-waiting-message {
	display: none;
}

.slider-wrap {
	position: relative;
	width: 50px;
	height: 1em;
}

.slider-wrap input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #000;
	transition: .4s;
	border-radius: 50%;
}

.slider:before {
	position: absolute;
	content: "";
	height: .7em;
	width: .7em;
	left: 4px;
	bottom: 4px;
	background-color: #fff;
	transition: .4s;
	border-radius: 50%;
}

input:checked + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	transform: translateX(26px);
}