#messages {
	float: left;
	width: 50%;
}

#player {
	color: red;
}

#game-state {
	float: left;
	width: 50%;
}

#board-wrap {
	position: relative;
}

#board {
	width: 450px;
	height: 450px;
}

.card {
	position: relative;
	float: left;
	width: 48px;
	height: 48px;
	margin: 1px;
	background-color: #999999;
	line-height: 48px;
	text-align: center;
	z-index: 1;
}

.selected {
	width: 46px;
	height: 46px;
	border: 1px solid red;
	background-color: #444444;
	color: #ffffff;
}

#phase {
	display: inline;
}

button {
	display: block;
	width: calc(100% - 30px);
	margin: 15px;
	padding: 10px;
	border: 1px solid #444444;
	background-color: #eeeeee;
}

button:hover {
	background-color: orange;
}

button:active {
	background-color: #ffffff;
}

.ship {
	position: absolute;
	left: 2px;
	top: 2px;
	z-index: 2;
	font-size: 15px;
	width: calc(100% - 4px);
	text-align: left;
	word-wrap: break-word;
	height: calc(100% - 4px);
	font-weight: bold;
	color: red;
	line-height: 1em;
}

.lure {
	position: absolute;
	right: 2px;
	bottom: 2px;
	z-index: 2;
	font-size: 15px;
	color: red;
	line-height: 1em;
}

.detail-label {
	width: 100px;
	display: inline-block;
}